.MovieDetail {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0px;
  color: var(--font-primary);

  .loader {
    width: 80px;
    height: 50px;
    position: relative;
  }

  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #1899d6;
    animation: text_713 3.5s ease both infinite;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .load {
    background-color: #0f3e53;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }

  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #1899d6;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }

  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }

    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }

    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }

    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }

    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }

  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }

    40% {
      width: 100%;
      transform: translateX(0px);
    }

    80% {
      width: 16px;
      transform: translateX(64px);
    }

    90% {
      width: 100%;
      transform: translateX(0px);
    }

    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }

  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }

    40% {
      transform: translateX(0%);
      width: 80%;
    }

    80% {
      width: 100%;
      transform: translateX(0px);
    }

    90% {
      width: 80%;
      transform: translateX(15px);
    }

    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }

  .movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: var(--font-secondary);
    display: flex;

    span {
      margin-right: 20px;
    }
  }

  .movie-title {
    font-size: 40px;
    color: var(--font-primary);
  }
  .movie-plot {
    margin-top: 20px;
    line-height: 1.8rem;
  }
  .movie-info > div span:first-child {
    padding: 10px 0px;
    color: var(--font-primary);
    font-weight: 600;
    width: 100px;
    display: inline-block;
  }

  .movie-info > div span {
    color: var(--font-secondary);
  }

  .fa-star {
    color: #ff9e00;
  }
  .fa-thumbs-up {
    color: #fafafa;
  }
  .fa-film {
    color: rgb(191, 213, 214);
  }
  .fa-calendar {
    color: peachpuff;
  }
}
@media screen and (max-width: 768px) {
  .MovieDetail {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
