.Header {
  background-color: var(--secondary-color);
  height: 72px;
  width: 100%;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    color: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    //  input {
    //    width: 200px;
    //    padding-inline: 10px;
    //    padding-block: 5px;
    //    border-radius: 5px;
    //  }

    .textInputWrapper {
      position: relative;
      width: 180px;
      margin: 12px 5px;
      --accent-color: #1899d6;
    }

    .textInputWrapper:before {
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .textInputWrapper:before,
    .textInputWrapper:after {
      content: "";
      left: 0;
      right: 0;
      position: absolute;
      pointer-events: none;
      bottom: -1px;
      z-index: 4;
      width: 100%;
    }

    .textInputWrapper:focus-within:before {
      border-bottom: 3px solid var(--accent-color);
    }

    .textInputWrapper:before {
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .textInputWrapper:focus-within:before {
      border-bottom: 1px solid var(--accent-color);
      transform: scaleX(1);
    }

    .textInputWrapper:focus-within:after {
      border-bottom: 2px solid var(--accent-color);
      transform: scaleX(1);
    }

    .textInputWrapper:after {
      content: "";
      transform: scaleX(0);
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      will-change: transform;
      border-bottom: 2px solid var(--accent-color);
      border-bottom-color: var(--accent-color);
    }

    .textInput::placeholder {
      transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      opacity: 1;
      user-select: none;
      color: rgb(56, 56, 56);
    }

    .textInputWrapper .textInput {
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
      max-height: 36px;
      background-color: #858383;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 200ms;
      transition-property: background-color;
      color: rgb(56, 56, 56);
      font-size: 14px;
      font-weight: 500;
      padding: 12px;
      width: 100%;
      border-left: none;
      border-bottom: none;
      border-right: none;
    }

    .textInputWrapper .textInput:focus,
    .textInputWrapper .textInput:active {
      outline: none;
    }

    .textInputWrapper:focus-within .textInput,
    .textInputWrapper .textInput:focus,
    .textInputWrapper .textInput:active {
      background-color: rgba(255, 255, 255, 0.582);
    }

    .textInputWrapper:focus-within .textInput::placeholder {
      opacity: 0;
    }

    button {
      appearance: button;
      background-color: #1899d6;
      border: solid transparent;
      border-radius: 10px;
      border-width: 0 0 4px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.8px;
      line-height: 20px;
      margin: 0;
      outline: none;
      overflow: visible;
      padding: 8px 12px;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      transform: translateZ(0);
      transition: filter 0.2s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }

    button:after {
      background-clip: padding-box;
      background-color: #1cb0f6;
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      bottom: -4px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    button:main,
    button:focus {
      user-select: auto;
    }

    button:hover:not(:disabled) {
      filter: brightness(1.1);
    }

    button:disabled {
      cursor: auto;
    }

    button:active:after {
      border-width: 0 0 0px;
    }

    button:active {
      padding-bottom: 10px;
    }
  }
}
